* {
	padding : 0;
	margin : 0;
	border : 0;
	outline : 0;
	font-family : 'Droid Sans', sans-serif;
	vertical-align: baseline;
	background: transparent;

}

blockquote, q
{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
}

:focus {
	outline: 0;
}


html {
    background : black;
}

body {
	background-color:white;
	font-size:100%;
	margin : auto;
	line-height: 1;
	zoom : 1;
}

html, body, #main{
	height:100%;
    width:100%;
}

#container {
	height:1080px;
	width :1920px;
}

input, select	
{
	font-size:inherit;
	/* ou sinon font-size:100%; */
} 

@media (max-height: 972px)
{
	#container {
		font-size:67%;
		height : 720px;
		width : 1280px;
	}
	
}

@media (max-height: 648px)  {
	#container {
		font-size:53%;
		height : 576px;
		width : 1024px;
	}
}


@media (max-height: 520px)  {
	#container {
		font-size:44%;
		height : 480px;
		width : 854px;
	}
}


.focused { 
	outline: 2px solid red;
}		